# Quarto output

# Quarto cache
.quarto/
mermaid-quarto-test_files/


# R cache (if applicable)
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
/.Rproj.user/


# Temporary files
*.log
*.tmp
*.aux

# OS / Editor files
.DS_Store

/.quarto/
